*{
    box-sizing: border-box;
    margin: 0 auto;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items:stretch;
}

.card{
    flex:0 0 250px;
}
/* flex: flexgrow flexshring flexbasis(width */

.card:hover{
    background-color: rgb(235, 234, 234);
    transition: .33;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img{
    max-width:100%;
    padding-top:5px;
}

.card .text{
    text-align: justify;
    word-break: keep-all;
    padding: 0 20px 20px;
    hyphens: auto;
    margin-top:5px;
}

/* not for bootstrap */
.button{
    width: 100%;
    display:block;
    background: green;
    padding:10px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 5px;
    border: 2px solid transparent;
}

.button:hover{
    transition: .33s;
    border: 2px solid rgba(73, 73, 73, 0.3);
    background-image: radial-gradient(ellipse, transparent, rgba(14, 63, 26, 0.333));
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.888);
}

modal{

}