@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

:root{
    --white-color: #ffffff;
    --display-style: inline-block;
}

.contactform input[type="text"], .contactform input[type="email"], .contactform textarea{
    display:block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: var(--white-color);
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.contactform{
    width: 70%;
    padding-bottom: 4em;
}