body{
    margin:0;
    padding:0;
}
/* a Z-index will allow for forms to show up in front of particles ... see lab 6 */
#particles-js{
    width:100%;
    height:100vh;
    background-size:cover;
    /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
    background-image: url(..//images/1.jpg)
}

