/* Author - Justice Banson */
/* Stylesheet for lesson5 */
@import 'https://fonts.googleapis.com/css?family=Raleway';
:root{
    --main-color:#05a081;
    --text-color:#fff;
    --bg-1:#eee;
    --bg-2:#333;
}
*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    font-family: 'Raleway';/* change */
    font-size: 20px !important;
}

header{
    width: 100%;
    position:absolute; /*fixed;*/
    z-index: 5;
}
header nav{
    background: transparent !important;
}
/* Nav New */
nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;   
}
nav ul li{
    flex: 1;
}
nav ul li a{
    text-decoration: none;
    color:#FFF;
    display: block;
    padding:1em;
    text-align: center;
    opacity: 0.8;
    transition: all 0.3s;
}
nav a:hover{
    opacity: 0.8;
    color: var( --main-color);
}
a:hover {
    text-decoration: none !important;
  }
  


.banner{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
main{
    padding: 4em 0;
    background-color: var(--background-color);
    
}
.main-color{
    display: flex;
}
.floatleft{
    /* flex: 1 0 0; */
    width: 40%;
    padding: 2em;
}
.floatright{
    /* flex: 2 0 0; */
    width: 60%;
    padding: 2em;
}
.box{
    text-align: center;
    width: 28%;
    float: left;
    padding: 2em 0;
    margin: 1em;
}
.bg-color{
    color:var(--text-color);
    background-color: var(--bg-2);
    overflow: hidden;
}
.fas{
    font-size: 3em;
    padding: 0.5em;
}
.button{
    background-color: var(--main-color);
    color:var(--text-color);
    padding: 0.5em 1em;
    border-radius: 4px;   
}

footer{
    width: 100%;
    padding: 2.6em;
    text-align: center;
}
#toggle, .label{
    display: none;
  }
  
  
@media(max-width:700px){
    nav ul{
        /* list-style-type: none;
        padding: 0; */
        display: flex;
        flex-direction: column;
        position: absolute;
        display: none;
        width: 100%;
        top:3em;
        background: rgba(0, 0, 0, 0.5);  
    }
    /* nav ul li{
        flex: 1;
    } */
    /* nav ul li a{
        text-decoration: none;
        color:#FFF;
        display: block;
        padding:1em;
        text-align: center;
        opacity: 0.8;
        transition: all 0.3s;
    }  */
    .label{
        display: block;
        cursor: pointer;
      }
      #toggle:checked+.menu{
        display: block;
      }
      .menu a{
        display: block;
        margin: 0;
    
      }
      .fas{
        font-size: 26px;
        line-height: 70px;
        display: none;
        width: 30px;
        float: right;
        color: var(--text-color);
      }
}