/* Author - Justice Banson */
/* Stylesheet for lesson5 */
@import 'https://fonts.googleapis.com/css?family=Raleway';

:root{
    --main-color:#05a081;
    --text-color:#fff;
    --bg-1:#eee;
    --bg-2:#333;
    --color-1: #22bbdd;
    --color-2: #2c6e78;
    --color-3: #22bb66;
    --color-4: #2c6e00;
    --color-5: #2c6eaa;
}

*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    font-family: 'Raleway';
    font-size: 20px !important;
}

header{
    width: 100%;
    position:absolute; /*fixed;*/
    z-index: 5;
    top:0px;
    left:0px;
    right:0px;
}
header nav{
    background: transparent !important;
}
nav{
    text-align: center;
    padding: 0;
    margin: auto;
}
nav a{
    padding: 1em;
    display: block;
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    opacity: 0.8.;
    transition: all 0.3s;
}
a:hover{
text-decoration: none !important;
color: var(--text-color);
}
nav ul{
    text-align:center;
    list-style-type: none;
    display: flex;
    padding: 0;
    margin:0;
}
nav ul li{
flex:auto;
}
.banner{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.box{
    padding:0.8em !important;
    font-size: 26px;
    color: #FFF;
    border: 1px solid #fff !important;
}

.color-1{
    background: var(--color-1)
}

.color-2{
    background: var(--color-2)
}
.color-3{
    background: var(--color-3)
}
.color-4{
    background: var(--color-4)
}
.color-5{
    background: var(--color-5)
}

/* display:grid; requires elements to have a specified grid location to work */
.grid{
    display:grid;
    /* grid-template-columns: 30% 30% 40%;
    grid-template-rows: 300px; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px;
    /* grid-column-gap: 20px;
    grid-row-gap: 20px; */
    grid-gap:20px;   
}

.grid-2{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 100px 100px 50px;
    grid-template-areas: 
    "head head head"
    "nav nav section"
    "main main section"
    "footer footer footer"

}

.header{
    grid-area:head;
}

.nav{
    grid-area:nav;
}
.section{
    grid-area:section;
}
.main{
    grid-area:main;
}
.footer{
    grid-area:footer;
}

.main-color{
    display: flex;
}
.floatleft{
    flex:1;
    padding: 1em;
}
.floatright{
    flex:2;
    padding: 1em;
}
.box-flex{
    display:flex;
    padding:1em;
    text-align: center;
}
.box{
    text-align: center;
    flex:1;
    padding: 2em 0;
    margin: 1em;
    padding:1em;
}
.bg-color{
    color:var(--text-color);
    background-color: var(--bg-2);
    overflow: hidden;
}
.fas{
    font-size: 3em;
    padding: 0.5em;
}
.button{
    background-color: var(--main-color);
    color:var(--text-color);
    padding: 0.5em 1em;
    border-radius: 4px;   
}

footer{
    width: 100%;
    padding: 2.6em;
    text-align: center;
}

.label, #toggle{
    display: none;
}

.label{
    font-size:26px;
    line-height:70px;
    width:30px;
    float:right;

}

.text-center{
    text-align: center;
}

/* media rule e.g.*/

/* @media only screen and (max-width:700px){
    body{
        background-color:pink;
    }
} */

@media (max-width:700px){
   nav ul{
    display: flex;
    flex-direction: column;
    width:100%;
    background: rgba(0,0,0,0.5);
    display:none;
    margin: 0;
    position: absolute;
    top:2.4em;
    }
    nav ul li{
    margin: 0;
    }
    .icon:checked+.menu{
        display:block;
    
    }
.header{
width:100%;
}
    .fas{
    font-size: 26px;
    color: var(--text-color);
    float:right;
    width:30px;
    }
    .label{
        display:block;
        cursor:pointer;
    }
    .main-color{
display:flex;
flex-direction:column;
    }
    
    .floatleft{
width:100%;
    }
}